# App
NODE_ENV=development
PORT=3001

# Database
POSTGRES_PORT=5432
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/the_martian_call

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3001/api/v1/auth/google/callback

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=7d

# Pusher
PUSHER_APP_ID=
PUSHER_KEY=
PUSHER_SECRET=
PUSHER_CLUSTER=

# Cron
CRON_SECRET=

# Frontend
FRONTEND_URL=http://localhost:3000
